
.container-expenses{
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #132D46;
    border: 1px solid rgba(0,0,0,0.1);  
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 10px;
}

.expenses-heading{
    margin-bottom: 30px;

}

.expenses{
    /* border: 1px yellow solid; */

}

.expenses-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;

}

.expenses-table th, td {
    border: 1px solid #dddddd; 
    text-align: left; 
    padding: 8px; 

}

.expenses-table th {
    background-color: #01C38D; 
}