
.form {
  max-width: 400px;
  padding: 20px 40px 50px;
  margin: 50px auto;
  background-color: #132D46;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-heading{
  margin-bottom: 30px;
  font-size: 24px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-control {


  height: auto;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #141e30;
  color: #fff;
  transition: border 0.3s ease;
}

.form-control::placeholder{
  color: white;
}

.form-control:focus{
  outline: none;
  border: 1px solid #01C38D;
}

.container-btn{
  display: flex;
  justify-content: space-between;
}

.btn-back, .btn-primary{
  display: flex;
  justify-content: center;
  padding: 12px;
  max-width: 35%;
}



.btn-submit{
  background-color: #01C38D;
}
.btn-submit:hover{
  background-color: #008b64;

}

.msg{
  background-color: red;
  padding: 5px 30px;
  border-radius: 30px;
  width: max-content;
  font-weight: bold;
  font-size: 20px;
}

