body {
    background: #191E29 !important;
    /*
        191E29
        132D46
        01C38D
        696E79

    */
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    margin: 0;
}

/********** Header *********/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #132D46;

}

.navBar ul{
    display: flex;
    list-style: none;

}


.navBar li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.navBar li a:hover{
    background-color: #696E79;
}

.sesion {
    display: flex;
    align-items: baseline;
    
}

.sesion h3 {
    margin: 15px;
}

.cerrar-sesion{
    padding: 10px;
    height: auto;
    width: auto;
    margin: 5px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color:red;
    text-decoration: none;
    font-size: 14px;
}

.cerrar-sesion:hover{
    background-color: darkred;
}

/********** body *********/
.container {	
	margin-top: 80px;
    margin-bottom: 80px;
}



/* Estilos para el modal */
.modal {
    display: block; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.btn-add-expense {
    display: flex;
    justify-content: center;
    background-color: #02b482;
    font-weight: bold;
}

.btn-add-expense:hover {
    background-color: #008b64;

}

/* Contenido del modal */
.modal-content {
    background-color: #132D46;
    margin: 15% auto;
    padding: 20px;
    width: 80%; 
    max-width: 600px; 
    border-radius: 8px; 
}

/* Botón de cierre */
.close {
    color: #696E79;
    float: right;
    font-size: 48px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.btn{
    padding: 10px;
    height: auto;
    width: 150px;
    margin: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: #696E79;
    text-decoration: none;
    font-size: 14px;
}
  
.btn:hover{
    cursor: pointer;
    background-color: #3e4147;
}
  
.btn-submit{
    background-color: #01C38D;
}
.btn-submit:hover{
    background-color: #008b64;
  
}

.btn-cancel {
    display: flex;
    font-weight: bold;
    justify-content: center;
    background-color: red;
}

.btn-cancel:hover {
    cursor: pointer;
    background-color: darkred;
}

.modal-div-form-btn {
    display: flex;
    justify-content: end;
}

/****msg de error****/
.msg-error{
    color: red;
    margin: 5px;
  }