{% extends "layout.html" %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/expensesStyle.css') }}">
{% endblock %}

{% block content %}


    <div class="container-expenses">
        <h2 class="expenses-heading">Grupos</h2>

        <div class="expenses">
            {% if groups_list %}
                <table class="expenses-table">
                    <tr class="expenses-table-row">
                        <th>Grupos</th>
                        <th>Cantidad de gastos</th>
                        <th>Acceso</th>
                        <th>Eliminar</th>
                    </tr>
                    {% for g, url in zip(groups_list, urls_groups) %}
                        <tr class="expenses-table-row">
                            <td class="expenses-table-cell"> {{ g.name }} </td>
                            <td class="expenses-table-cell"> {{ g.get_total_expenses(srp) }} </td>
                            <td class="expenses-table-cell link"> <a href='/group/view/{{ url }}'><img class="view-icon" src="/static/view.svg" alt="view group"></a></td>
                            <td class="expenses-table-cell link link-delete"> <a href='/group/delete/{{ url }}'><img class="view-icon" src="/static/delete.svg" alt="delete group"></a></td>
                            
                        </tr>
                    {% endfor %}

                </table>
            {% else %}
                <p><b>No hay grupos.</b></p>
            {% endif %}
            
        </div>
        

    </div>
    {% block modal %}
    {% endblock %}
{% endblock %}

