<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>GastoComún</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    {% block css %}
    {% endblock %}
</head>
<body>

    <header>
        <h1 class="header-title">GastoComún</h1>

        <nav class="navBar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/group/add">Crear Grupo</a></li>
            </ul>
        </nav>

        <div class="sesion">
            <h3>Bienvenido, {{username}}</h3>
            <a href="/logout" class="cerrar-sesion"> Cerrar Sesion </a>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>