{% extends "viewGroup.html" %}

{% block modal %}
<div id="modal" class="modal">
    <div class="modal-content">
        <a href="/group/view/{{ group.name }}"><span class="close">&times;</span></a>
        <h2 class="group-heading">Crear Grupo</h2>
        <div class="group-form">
            <form method="POST" action="{{ url_for('group_blpr.add_expense', name=group.name) }}">

                <div class="div-form">
                    <label for="name-expense">Nombre del gasto</label>
                    <input type="text" class="form-group" name="name-expense" placeholder="Nombre de Gasto" value="{{ expense.name }}"/>
                </div>

                <div class="div-form">
                    <label for="amount-expense">Cantidad</label>
                    <input type="text" class="form-group" name="amount-expense" placeholder="Cantidad" value="{{ expense.amount }}"/>
                </div>

                <div class="div-form">
                    <label for="user-expense">Usuario que pago</label>
                    <input type="text" class="form-group" name="user-expense" placeholder="Usuario" value="{{ expense.user }}"/>
                </div>
                
                <div class="div-form-btn">
                    <button type="submit" class="btn btn-submit">Crear</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
