{% extends "viewGroup.html" %}

{% block modal %}
<div id="modal" class="modal">
    <div class="modal-content">
        <a href="/group/view/{{ url }}"><span class="close">&times;</span></a>
        <h2 class="group-heading">Crear Gasto</h2>
        <div class="group-form">
            <form method="POST" action="{{ url_for('group_blpr.add_expense', name=url) }}">
                {% with errorExpense = get_flashed_messages(category_filter=["errorExpense"]) %}
                    {%if errorExpense%}
                        {%for msg in errorExpense%}
                        <p class="msg-error">{{msg}}</p>
                        {%endfor%}
                    {%endif%}
                {% endwith %}

                <div class="div-form">
                    <label for="name-expense">Nombre del gasto</label>
                    <input type="text" class="form-group" name="name-expense" placeholder="Nombre de Gasto" value="{{ expense.name }}"/>
                </div>

                <div class="div-form">
                    <label for="amount-expense">Cantidad</label>
                    <input type="text" class="form-group" name="amount-expense" placeholder="Cantidad" value="{{ expense.amount }}"/>
                    {% with errorAmount = get_flashed_messages(category_filter=["errorAmount"]) %}
                        {%if errorAmount%}
                            {%for msg in errorAmount%}
                            <p class="msg-error">{{msg}}</p>
                            {%endfor%}
                        {%endif%}
                    {% endwith %}
                </div>

                <div class="div-form">
                    <label for="user-expense">Usuario que pago</label>
                    <select name="user-expense" id="user-expense" class="form-group">
                        {%for u in group.people %}
                        <option value="{{ u }}"> {{u}} </option>
                        {%endfor%}
                    </select>
                </div>

                
                
                <div class="div-form-btn">
                    <button type="submit" class="btn btn-submit">Crear</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
