{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/groupStyle.css') }}">
{% endblock %}

{% block content %}


    <div class="container-group">
        <h2 class="group-heading">Crear Grupo</h2>
        <div class="group-form">
            <form method="POST" action="{{ url_for('group_blpr.group_add') }}">
                {% with errorGroup = get_flashed_messages(category_filter=["errorGroup"]) %}
                    {%if errorGroup%}
                        {%for msg in errorGroup%}
                        <p class="msg-error">{{msg}}</p>
                        {%endfor%}
                    {%endif%}
                {% endwith %}

                <div class="div-form">
                    <label for="name-group">Nombre del Grupo</label>
                    <input type="text" class="form-group" name="name-group" placeholder="Nombre de Grupo" value="{{ group.name }}"/>
                </div>

                <div class="div-form">
                    <label for="description-group">Descripción</label>
                    <input type="text" class="form-group" name="description-group" placeholder="Descripción" value="{{ group.description }}"/>
                </div>
                
                <div class="div-form">
                    <label for="new-user">Añadir participante</label>
                    <div id="errorParticipant"></div>
                    <div class="div-form-people">
                        <input type="text" class="form-group form-group-persona" name="new-user" id="new-user" placeholder="Nombre de usuario" />
                        <button class="boton-añadir-form" onclick="addParticipant()" type="button">Añadir</button>
                    </div>
                </div>
                
                <div class="container-people">
                    <h3 class="title-people">Participantes</h3>
                    <ul id="participants-list" name="participants-list">
                        

                        {% for person in group.people %}
                            <li>
                                <input type="hidden" name="participants[]" value="{{ person }}">
                                <span>{{ person }}</span> <button type="button" onclick='deleteParticipant("{{ person }}")'>X</button>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </div>
                <div class="div-form-btn">
                    <button type="submit" class="btn btn-submit">Crear</button>
                </div>

            </form>
            
        </div>
        
    </div>

    <script>
        function addParticipant() {
            var newParticipant = document.getElementById("new-user").value;
            var temp = document.getElementsByName("participants[]")

            var listPeople = Array.from(temp).map(elemento => elemento.getAttribute('value'));

            // Realizar solicitud AJAX al servidor Flask
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/group/search", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    
                    var element = ''
                    var insertError = document.getElementById("errorParticipant")
                    insertError.innerHTML = element;

                    var response = JSON.parse(xhr.responseText);
                    var participantsList = document.getElementById("participants-list");
                    participant = response.participant;

                    var listItem = document.createElement("li");
                    listItem.id = "id-li-" + participant
                    
                                
                    listItem.innerHTML = '<input id="id-'+ participant +'" type="hidden" name="participants[]" value="' + participant +'">' 
                        +'<span>' + participant + '</span> <button type="button" onclick="deleteParticipant(\''+ participant +'\')">X</button>';
                    participantsList.appendChild(listItem);
                }
                if (xhr.readyState === 4 && xhr.status === 400) {
                    var response = JSON.parse(xhr.responseText)
                    var element = '<p class="msg-error">' + response.message + '</p>'
                    var insertError = document.getElementById("errorParticipant")
                    insertError.innerHTML = element;
                }
            };
    
            var data = JSON.stringify({newParticipant: newParticipant, participants: listPeople });
            xhr.send(data);
        }

        function deleteParticipant(userDelete) {
            var inputDeleted = document.getElementById("id-li-"+userDelete)
            if (inputDeleted) {
                inputDeleted.remove(); 
            }
        }
    </script>
    

{% endblock %}